:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --btn-text-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --link-color: rgba(255, 255, 255, 0.6);
  --border-card-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --icon-fill-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.title {
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----- Card-Set ------ */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  margin-left: 30px;
  margin-top: 30px;
}

/* ----- Header -----*/

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-container,
.header-list,
.header-contacts,
.header-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav > .logo {
  margin-right: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts > .header-item:first-child {
  margin-right: 30px;
}

.header-text-color {
  color: var(--second-text-color);
}

/* --------------------------- */

.header-list {
  color: var(--second-text-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}

.header-item-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ----- Hero ------ */

.hero {
  background-color: var(--first-background-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  padding: 10px 32px;
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----- Features ----- */

.features {
  padding-bottom: 0;
}

.features-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--second-background-color);
  border-radius: 4px;
}

.features-item-icon {
  border: 2px dashed red;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
}

.features-item-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* ----- What we do ----- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.wwd-item {
  flex-basis: calc(100% / 3 - 30px);
}

/* ----- Team ----- */

.team {
  background-color: var(--second-background-color);
}

.team-item {
  background: var(--btn-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
}

.team-item-content {
  padding: 30px 32px;
}

.team-item-name,
.team-item-positions {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-item-positions {
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--btn-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-fill-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
}

.team-social-icon {
  fill: currentColor;
}

/* ----- Footer ----- */

.footer {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-text-color {
  color: var(--btn-text-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link[target="_blank"] {
  color: var(--btn-text-color);
}

.footer-link {
  color: var(--link-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ----- Portfolio ----- */

.projects {
  padding-top: 82px;
  padding-bottom: 126px;
}

.projects-btn-list {
  display: flex;
  justify-content: center;
}

.projects-btn-list {
  margin-bottom: 50px;
}

.projects-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background: var(--second-background-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
}

.projects-btn:focus,
.projects-btn:hover,
.active {
  color: var(--btn-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-link-item {
  flex-basis: calc(100% / 3 - 30px);
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.87;
}

.projects-card-footer {
  background: var(--btn-text-color);
  border: 1px solid var(--border-card-color);
  padding: 20px 24px;
}
